


body {
    margin: 0;
    min-height: 100vh;

    background-image: url("images/b.png");
    background-size: contain;
    background-position: center 25%;
    background-repeat: no-repeat;
}
/* หน้า 2 */
.home-page {
    margin: 0;
    min-height: 100vh;

    background-image: url("images/BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-page h1 {
    margin: 0;
    padding-top: 35px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

.button-column {
    position: fixed;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(-50%);
}

.button-column-left {
    left: 20px;
}

.button-column-middle-left {
    left: 40%;
    transform: translate(-50%, -50%);
}

.button-column-middle-right {
    left: 60%;
    transform: translate(-50%, -50%);
}

.button-column-right {
    right: 20px;
}

.button-column button {
    width: 125px;
    padding: 12px 10px;
    border: 0;
    border-radius: 8px;
    background: #8B0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.button-column button:hover {
    background: #B22222;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .button-column {
        gap: 8px;
    }

    .button-column-left {
        left: 10px;
    }

    .button-column-right {
        right: 10px;
    }

    .button-column button {
        width: 90px;
        padding: 10px 5px;
        font-size: 14px;
    }
}

.line-button {
    position: fixed;
    right: 30px;
    bottom: 300px;
    padding: 12px 25px;
    background: #06C755;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    z-index: 20;
}

.line-button:hover {
    background: #05a947;
}

.phone-button {
    position: fixed;
    right: 30px;
    bottom: 250px;
    padding: 12px 25px;
    background: #0066cc;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    z-index: 20;
}

.phone-button:hover {
    background: #004c99;
}
/* ปุ่มเข้าหน้าเว็บไซต์ */
.enter-button {
    position: fixed;
    right: 30px;
    bottom: 350px;
    padding: 12px 25px;
    background: #8B0000;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.enter-button:hover {
    background: #B22222;
}

/* รูปด้านล่างขวา */
.bottom-right-img {
    position: fixed;
    right: 50px;
    bottom: 20px;
    width: 200px;
    height: auto;
    z-index: 20;
}

.home-button {
    position: fixed;
    right: 20px;
    bottom: 20px;

    padding: 10px 16px;

    background: #8B0000;
    color: white;

    text-decoration: none;
    font-size: 15px;

    border-radius: 8px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

    z-index: 1000;

    transition: background 0.3s, transform 0.3s;
}

.home-button:hover {
    background: #B22222;
    transform: scale(1.05);
}